header {
    background-color: aqua;
    text-align: center;

}


footer{
    background-color:darkcyan;
}

h1 {
    text-align: center;
}
h4{
    margin-bottom: 20px;
}

.container{
    background-color: black;
    text-align: center;

}
h3 h5 {
    color:white;
}
h3{
    text-align: start;
}
h5{
    text-align: end;
}
.testa{
    background-color: black;
    color: aqua;
    
}
button{
    background-color: gold;
}
h6{
    text-align: end;
}
p{
    text-align: start;
}