header {
    background-color: aqua;
    text-align: center;

}

footer{
    background-color:darkcyan;
}

h1 {
    text-align: center;
}
h4{
    margin-bottom: 20px;
}

.button {
    align-items: center;
}
.container{
    background-color: black;
    text-align: center;
    width: max-content;
    height: max-content;
}
h3 h5 {
    color:white;
}
.testa{
    background-color: black;
    color: aqua;
}